@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

html {
  scroll-behavior: smooth
}

body {
  font-family: 'Roboto', arial;
  margin: 0 40px;
  
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

main {
  margin: 0 auto;
  max-width: 1400px;
}

/* HEADER */

header {
  display: flex;
  margin-top: 20px;
  align-items: center;
  justify-content: space-between;
}

.nav-menu {
  display: flex;
  width: 100%;
  justify-content: space-around;
  font-size: 17px;
  font-weight: bold;
}

header > a {
  font-size: 40px;
  font-weight: bold;
  flex-grow: 1;
}

.social-media-logo {
  height: 30px;
  width: 30px;
  padding-left: 10px;
}

.header-social-links {
  flex-grow: 1;
  display: flex;
  justify-content: flex-end;
}

nav {
  flex-grow: 4;
}

/* HERO */

.main-container-photo {
  max-width: 100%;
}

.hero-details {
  margin: 80px 0;
  display: flex;
  width: auto;
  justify-content: center;
}

.hero-details-info {
  margin-left: -40px;
  margin: auto 0 auto -40px;
}

.hero-details-info-text > h1 {
  font-weight: bold;
  font-size: 50px;
  margin-bottom: 0px;
  margin-top: 0px;
}

.hero-details-info-text > p {
  margin-top: 5px;
}

.hero-details-info-buttons {
  display: flex;
}


#button-resume {
  width: 180px;
  height: 50px;
  background: black;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#button-resume:hover {
  color: yellow;
}

#button-projects {
  width: 180px;
  height: 50px;
  border-radius: 5px;
  border: 1px solid black;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

#button-projects:hover {
  background-color: black;
  color: yellow;
}

/* SECTION HEAD */

.section-head { 
  margin: 60px 0;
}

.section-head > span {
  text-transform: uppercase;
  position: relative;
  font-size: 10px;
  letter-spacing: 1px;
  padding-left: 60px;
}

.section-head > span::before {
  content: "";
  position: absolute;
  top: 4px;
  left: 0;
  width: 50px;
  height: 1px;
  background: black;
}

.section-head > h3 {
  margin: 0; 
  letter-spacing: 2px;
  padding-top: 10px;
}

/* ABOUT */

.about-me-container {
  background: #F6F5F5;
  border-radius: 30px;
  margin: 40px auto;
}

.about-me-container > p {
  line-height: 25px;
  padding: 30px 40px;
}

/* TOOLKIT */

.toolkit-container {
  margin: 40px auto;
  max-width: 1000px;
  text-align: center;
  padding: 40px;
}

.toolkit-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(120px, 1fr));
  grid-column-gap: 40px;
  grid-row-gap: 30px;
}

.toolkit-grid-item-container {
  padding: 20px 0;
}

.toolkit-icon {
  height: 40px;
  width: 40px;
}

.toolkit-grid-item-container > p {
  margin: 0;
  margin-top: 10px;
  font-size: 12px;
  letter-spacing: 1px;
}

/* PROJECTS */

.project-container {
  margin: 60px auto;
  display: flex;
  justify-content: center;
}

.project-image {
  width: 400px;
  border-radius: 10px;
  border: 1px solid grey;
}

.project-info {
  padding: 40px 60px;
  display: flex;
  justify-content: center;
  max-width: 500px;
  flex-direction: column;
}

.project-info-text > h1 {
  font-weight: bold;
  font-size: 40px;
  margin: 0;
}

.projects-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(60px, 1fr));
  margin: 20px 0;
}

.project-info-links {
  display: flex;
}

#button-projects-website {
  width: 150px;
  height: 40px;
  background: black;
  border-radius: 5px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
}

#button-projects-website:hover {
  
}

#button-projects-repo {
  width: 150px;
  height: 40px;
  background: white;
  border-radius: 5px;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin-left: 10px;
}

/* CONTACT */

.contact-me-container {
  background: #F6F5F5;
  border-radius: 30px;
  margin: 40px auto;
  max-width: 800px;
  height: fit-content;
}

.contact-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: fit-content;
  padding: 20px 0;
  margin: auto;
}

.contact-info > a {
  letter-spacing: 1px;
  margin-top: 15px;
}

.contact-social-links {
  margin: 15px 0;
}

/* FOOTER */

footer {
  font-size: 12px;
  text-align: center;
  margin-top: 100px;
  margin-bottom: 20px;
}

/* MOBILE SCREEN */

@media (max-width: 800px) {
  body, main {
    margin: 0;
  }

  .section-head {
    margin: 50px 10px;
  }
  /* HEADER */

  header {
    display: none;
  }
  /* HERO */
  
  .main-container-photo {
    margin: auto;
  }

  .hero-details {
    display: flex;
    flex-direction: column;
    margin: 40px 10px;
    padding: 0;
  }

  .hero-details-info {
    margin: 0;
  }

  .hero-details-info-text {
    text-align: center;
  }

  .hero-details-info-text > h1 {
    font-size: 45px;
  }

  .project-container {
    display: flex;
    flex-direction: column;
  }

  #button-resume {
    width: 170px;
  }

  #button-projects {
    width: 170px;
  }

  .hero-details-info-buttons {
    justify-content: center;
  }

    /* ABOUT */

  .about-me-container {
    border-radius: 0;
  }

  /* TOOLKIT */

  .toolkit-container {
    margin: 0;
    padding: 0 40px;
  }

  /* PROJECTS */

  .project-image {
    max-width: 100%;
    border: none;
  }

  .project-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .project-info {
    padding: 0;
  }

  .project-info-text {
    padding: 20px 40px;
  }

  .projects-grid {
    padding: 0 20px;
    text-align: center;
  }

  .project-info-links {
    margin: 20px auto;
  }
}

